*{
	color: #2b2b2b;
}
body{
	margin: 0;
	padding: 0;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(125deg, #fffefe, #eebbe0);
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	//font-weight: 700;
}
header{
	display: flex;
	align-items: center;
	//margin-top: 1em;
	font-size: 5vmax;
	height: 3em;
	text-align: center;
	margin-bottom: 1rem;
}
.sp{
	font-size: 2.5vmax;
	margin-bottom: 0.5em;
	font-weight: 100;
}
.search-form{
	margin-top: 1em;
	width: 80vw;
	height: 4vmax;
	display: flex;
	justify-content: center;
	margin-bottom: 3em;
	border: 1px solid #222222;
}
.search-form input[type='text']{
	border:0;
	color:#2b2b2b;
	border: 1px solid white;
	width: 80%;
	font-size: 1.5vmax;
}
.search-button{
	background-color:#96e5f3;
	width: 20%;
	border:0;
	border-left: 1px solid #222222;
	font-size: 1.5vmax;
	text-align: center;
}
.search-button:hover {
    opacity: 90%;
}
.search-button:active {
    opacity: 100%;
    transform: scale(0.95);
}
.thumb {
	width: 35vw;
	height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	box-shadow: 15px 15px 50px  #2b2b2b;
	background-color: #96e5f3;
	animation: fade 2s, scale 2s;
	border-radius: 50%;
}
.object-image{
	max-height: 200px;
    max-width: 200px;
    margin-bottom: 0.5rem;
}
.object-label{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 1.3vmax;
	margin-bottom: 1rem;
}

@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes scale{
	0%{
		transform: scale(0.5);
	}
	100%{
		transform: scale(1);
	}
}